@page "/"
@page "/{categoryurl}"
@inject ICategoryService categoryService;

@if (category != null)
{
    <h1>Welcome to the @category.Name section!</h1>
}
else
{
    <h1>Welcome to Neko shop!</h1>
}

<ProductList />

@code{
    [Parameter]
    public string CategoryUrl { get; set; }

    private Category category = null;

    protected override void OnParametersSet()
    {
        if (CategoryUrl != null)
        {
            category = categoryService.Categories.FirstOrDefault(c => c.Uri.ToString().ToLower().Equals(CategoryUrl.ToLower()));
            }
        else
        {
            category = null;
        }

    }
}