@inject IProductService productService

<ul class="list-unstyled">
    @foreach(var item in CategoryId == null ? productService.Products : productService.Products.Where(p => p.CategoryId == CategoryId))
            {
                <li class="media my-3">
                    <div class="media-img-wrapper mr-2">
                        <a href="/product/@item.Id">
                            <img class="media-img" src="@item.Image" alt="@item.Title" />
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/product/@item.Id">
                            <h4 class="mb-0">@item.Title</h4>
                        </a>
                        <p>@item.Description</p>
                        @if(item.OriginalPrice > item.Price)
                        {
                            <h6 class="text-muted" original-price>$@item.OriginalPrice</h6>
                        }
                        <h5 class="price">
                            $@item.Price
                        </h5>
                    </div>
                </li>
            }
</ul>

@code {
    public Guid? CategoryId { get; set; }

    protected override void OnInitialized()
    {
        productService.LoadProducts();
    }
}
